/log/
.idea/
.metadata/
.settings/*
*.project
.ntvs_analysis.dat
*.suo
*.log
.tmp
.sw*
Thumbs.db*
build_info.txt*
crashlog.txt
npm-debug.log
Library/
Temp/
obj/
.vscode/
*.userprefs
*.sln
*.csproj
*.v12.suo
.v12.suo
~$.xlsx
.csproj
Assembly-CSharp-Editor-firstpass-vs.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp.pidb
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass.pidb
Assembly-UnityScript-Editor.pidb
Assembly-UnityScript-firstpass.pidb
UpgradeLog.htm
UnityVS.VersionSpecific.dll
UnityVS.VersionSpecific.dll.meta
Assembly-CSharp-Editor.csproj.user
Assembly-CSharp-firstpass.csproj.user
Assembly-CSharp.csproj.user
ProjetSettings/ProjectVersion.txt
UnityVS.VersionSpecific.dll.meta
UnityConnectSettings.asset